@import "tailwindcss";

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.carousel::-webkit-scrollbar {
	display: none;
}

h1 {
	color: red;
}

@keyframes slide {
	from {
		translate: 0;
	}
	to {
		translate: -100% 0;
	}
}

.group {
	animation: slide 15s infinite linear;
}
